
body {  
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 1vh 1vw;
  background-color: #282c34;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none;  
}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #282c34;
  min-height:73vh;
}

.button-left {
  position: fixed;
  left: 1vw;
  background-image: url('resources/images/arrow-left.png');
}

.button-right {
  background-image: url('resources/images/arrow-right.png');
  position: fixed;
  right: 1vw;
}

.button-left, .button-right {
  z-index: 2;
  height: 73vh;
  width: 9vw;
  background-color: #777;
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: center; 
}

.field {
  width: 80vw;
  height: 73vh;
  z-index: 1;
  position: fixed;
  background-image: url('resources/images/background.jpg');
  background-size: cover;
}

.player {
  height: 6vw;
  width: 6vw;
  position: absolute;
  background-image: url('resources/images/standing-right.gif'); 
  background-size: cover;
}

.left {
 transform: rotateY(180deg);
}

.right {
 transform: rotateY(0deg);
}

.run {
 background-image: url('resources/images/running-right.gif'); 
}

.jump {
 background-image: url('resources/images/jump-right.gif'); 
}

.overlay {
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: #282c34;
  z-index: 2;
}

.snowman, .gumdrop, .ginger  {
  position: absolute;
  width: 6vw;
  height: 6vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.snowman {
  background-image: url('resources/images/snowman.gif');
}

.gumdrop {
  background-image: url('resources/images/gumdrop.png');
}

.ginger {
  background-image: url('resources/images/ginger.gif');
}

.alt {
  background-image: url('resources/images/snowman-alt.gif');
}

.health-bar {
  position: absolute;
  z-index: 1;
  top: 2vh;
  left: 2vw;
  height: 2vh;
  background-color: red;
}

.action-box {
  border: 1px solid black;
  height: 7vw;
  width: 7vw;
  position: absolute;
  top: 2vh;
  right: 2vw;
  border-radius: 10%;
  z-index: 2;
  background-size: cover;
}

.screen {
  width: 90%;
  height: 73vh;
  z-index: 1;
  position: fixed;
  left:5vw; 
  background-size: contain;
  background-color: transparent;  
  background-image: url('resources/images/background.png');
}

.bg {
  background-image: url('resources/images/bg.png');
}

.blinder {
  position: absolute;
  top:0;
  left: 0;
  border-left: 1vw solid #282c34;
  border-right: 1vw solid #282c34;
  width: 98vw;
  height: 100%;
  z-index: 3;
  pointer-events: none;
}

.menu {
  height: 20vh;
  width: 98vw;
  background-color: #555;
  position: absolute;
  z-index: 3;
  top: 74vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  height: 7vw;
  width: 7vw;
  border-radius: 10%;
  background-size: cover;
}

.candy-cane {
  background-image: url('resources/images/candy-cane.jpg');
}

.active {
 height: 3vw;
  width: 3vw;
  background-size: cover;
  position: absolute;
  z-index: 3;
}

.block {
  height: 1vw;
  width: 1vw;
  position: absolute;
  background-color: rgba(0,128,255,.4);
  box-shadow:0vw 0vw .2vw .2vw rgba(255,255,255,0.8) inset;
  transform: translateY(13.5vh);
}

.candy-cane-missile {
  animation: rotateZ 1s;
  background-image: url('resources/images/candy-cane.png'); 
  border-radius: 50%;
}

@keyframes rotateZ {
  0% {transform: rotateZ(0deg);background-color: transparent;}
  25% {transform: rotateZ(90deg);background-color: rgba(255,255,255,.7);}
  50% {transform: rotateZ(180deg);background-color: transparent;}
  75% {transform: rotateZ(270deg);background-color: rgba(255,255,255,.7);}
}
